-- DropForeignKey
ALTER TABLE `ReferralProgramRefereePackage` DROP FOREIGN KEY `ReferralProgramRefereePackage_referralProgramId_fkey`;

-- DropForeignKey
ALTER TABLE `ReferralProgramReferrerPackage` DROP FOREIGN KEY `ReferralProgramReferrerPackage_referralProgramId_fkey`;

-- DropForeignKey
ALTER TABLE `ReferralTriggerPackage` DROP FOREIGN KEY `ReferralTriggerPackage_referralProgramId_fkey`;

-- DropForeignKey
ALTER TABLE `_CouponToPackage` DROP FOREIGN KEY `_CouponToPackage_B_fkey`;

-- DropForeignKey
ALTER TABLE `_OfferToPackage` DROP FOREIGN KEY `_OfferToPackage_B_fkey`;

-- DropForeignKey
ALTER TABLE `_PackageServices` DROP FOREIGN KEY `_PackageServices_A_fkey`;

-- DropForeignKey
ALTER TABLE `_PackageServices` DROP FOREIGN KEY `_PackageServices_B_fkey`;

-- DropForeignKey
ALTER TABLE `bookings` DROP FOREIGN KEY `Booking_userId_fkey`;

-- DropForeignKey
ALTER TABLE `orders` DROP FOREIGN KEY `Order_userId_fkey`;

-- DropForeignKey
ALTER TABLE `orders` DROP FOREIGN KEY `orders_packageId_fkey`;

-- DropForeignKey
ALTER TABLE `package_media` DROP FOREIGN KEY `package_media_packageId_fkey`;

-- DropForeignKey
ALTER TABLE `package_services` DROP FOREIGN KEY `PackageService_serviceId_fkey`;

-- DropForeignKey
ALTER TABLE `package_services` DROP FOREIGN KEY `package_services_packageId_fkey`;

-- DropForeignKey
ALTER TABLE `subscriptions` DROP FOREIGN KEY `Subscription_userId_fkey`;

-- DropForeignKey
ALTER TABLE `subscriptions` DROP FOREIGN KEY `subscriptions_packageId_fkey`;

-- DropForeignKey
ALTER TABLE `trips` DROP FOREIGN KEY `Trip_subscriptionId_fkey`;

-- DropForeignKey
ALTER TABLE `trips` DROP FOREIGN KEY `Trip_userId_fkey`;

-- DropIndex
DROP INDEX `orders_packageId_fkey` ON `orders`;

-- DropIndex
DROP INDEX `subscriptions_packageId_fkey` ON `subscriptions`;

-- DropIndex
DROP INDEX `users_referralCode_key` ON `users`;

-- AlterTable
ALTER TABLE `_CouponToPackage` MODIFY `B` INTEGER NOT NULL;

-- AlterTable
ALTER TABLE `_OfferToPackage` MODIFY `B` INTEGER NOT NULL;

-- AlterTable
ALTER TABLE `bookings` MODIFY `packageId` INTEGER NOT NULL;

-- AlterTable
ALTER TABLE `orders` MODIFY `packageId` INTEGER NOT NULL;

-- AlterTable
ALTER TABLE `package_media` MODIFY `packageId` INTEGER NOT NULL;

-- AlterTable
ALTER TABLE `package_services` MODIFY `packageId` INTEGER NOT NULL;

-- AlterTable
ALTER TABLE `packages` DROP PRIMARY KEY,
    MODIFY `id` INTEGER NOT NULL AUTO_INCREMENT,
    ADD PRIMARY KEY (`id`);

-- AlterTable
ALTER TABLE `subscriptions` MODIFY `packageId` INTEGER NOT NULL;

-- AlterTable
ALTER TABLE `users` MODIFY `referralCode` JSON NULL;

-- DropTable
DROP TABLE `ReferralProgramRefereePackage`;

-- DropTable
DROP TABLE `ReferralProgramReferrerPackage`;

-- DropTable
DROP TABLE `ReferralTriggerPackage`;

-- DropTable
DROP TABLE `_PackageServices`;

-- CreateTable
CREATE TABLE `Offers` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `packageId` INTEGER NOT NULL,
    `end_date` DATETIME(3) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `referral_trigger_packages` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `referralProgramId` INTEGER NOT NULL,
    `packageId` INTEGER NULL,
    `packageNameSnapshot` VARCHAR(191) NULL,

    UNIQUE INDEX `referral_trigger_packages_referralProgramId_packageId_key`(`referralProgramId`, `packageId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `referral_program_referrer_packages` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `referralProgramId` INTEGER NOT NULL,
    `packageId` INTEGER NULL,
    `packageNameSnapshot` VARCHAR(191) NULL,

    UNIQUE INDEX `referral_program_referrer_packages_referralProgramId_package_key`(`referralProgramId`, `packageId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `referral_program_referee_packages` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `referralProgramId` INTEGER NOT NULL,
    `packageId` INTEGER NULL,
    `packageNameSnapshot` VARCHAR(191) NULL,

    UNIQUE INDEX `referral_program_referee_packages_referralProgramId_packageI_key`(`referralProgramId`, `packageId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `package_media` ADD CONSTRAINT `package_media_packageId_fkey` FOREIGN KEY (`packageId`) REFERENCES `packages`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `package_services` ADD CONSTRAINT `package_services_packageId_fkey` FOREIGN KEY (`packageId`) REFERENCES `packages`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `package_services` ADD CONSTRAINT `package_services_serviceId_fkey` FOREIGN KEY (`serviceId`) REFERENCES `services`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `orders` ADD CONSTRAINT `orders_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `users`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `orders` ADD CONSTRAINT `orders_packageId_fkey` FOREIGN KEY (`packageId`) REFERENCES `packages`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `subscriptions` ADD CONSTRAINT `subscriptions_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `users`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `subscriptions` ADD CONSTRAINT `subscriptions_packageId_fkey` FOREIGN KEY (`packageId`) REFERENCES `packages`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `trips` ADD CONSTRAINT `trips_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `users`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `trips` ADD CONSTRAINT `trips_subscriptionId_fkey` FOREIGN KEY (`subscriptionId`) REFERENCES `subscriptions`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `bookings` ADD CONSTRAINT `bookings_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `users`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `referral_trigger_packages` ADD CONSTRAINT `referral_trigger_packages_referralProgramId_fkey` FOREIGN KEY (`referralProgramId`) REFERENCES `ReferralProgram`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `referral_trigger_packages` ADD CONSTRAINT `referral_trigger_packages_packageId_fkey` FOREIGN KEY (`packageId`) REFERENCES `packages`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `referral_program_referrer_packages` ADD CONSTRAINT `referral_program_referrer_packages_referralProgramId_fkey` FOREIGN KEY (`referralProgramId`) REFERENCES `ReferralProgram`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `referral_program_referrer_packages` ADD CONSTRAINT `referral_program_referrer_packages_packageId_fkey` FOREIGN KEY (`packageId`) REFERENCES `packages`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `referral_program_referee_packages` ADD CONSTRAINT `referral_program_referee_packages_referralProgramId_fkey` FOREIGN KEY (`referralProgramId`) REFERENCES `ReferralProgram`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `referral_program_referee_packages` ADD CONSTRAINT `referral_program_referee_packages_packageId_fkey` FOREIGN KEY (`packageId`) REFERENCES `packages`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `_CouponToPackage` ADD CONSTRAINT `_CouponToPackage_B_fkey` FOREIGN KEY (`B`) REFERENCES `packages`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `_OfferToPackage` ADD CONSTRAINT `_OfferToPackage_B_fkey` FOREIGN KEY (`B`) REFERENCES `packages`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- RenameIndex
ALTER TABLE `bookings` RENAME INDEX `Booking_cashfreeOrderId_key` TO `bookings_cashfreeOrderId_key`;

-- RenameIndex
ALTER TABLE `bookings` RENAME INDEX `Booking_invoiceNumber_key` TO `bookings_invoiceNumber_key`;

-- RenameIndex
ALTER TABLE `coupons` RENAME INDEX `Coupon_code_key` TO `coupons_code_key`;

-- RenameIndex
ALTER TABLE `orders` RENAME INDEX `Order_cashfreeOrderId_key` TO `orders_cashfreeOrderId_key`;

-- RenameIndex
ALTER TABLE `package_services` RENAME INDEX `PackageService_packageId_serviceId_key` TO `package_services_packageId_serviceId_key`;

-- RenameIndex
ALTER TABLE `packages` RENAME INDEX `Package_name_key` TO `packages_name_key`;

-- RenameIndex
ALTER TABLE `services` RENAME INDEX `Service_title_key` TO `services_title_key`;

-- RenameIndex
ALTER TABLE `users` RENAME INDEX `User_email_key` TO `users_email_key`;

-- RenameIndex
ALTER TABLE `users` RENAME INDEX `User_mobileNumber_key` TO `users_mobileNumber_key`;

